<!--<h2>Skola Rajak</h2>
<div>
  <input type="text" name="username" placeholder="Unesite korisnicko ime" [(ngModel)]="username"/>
</div>
<div>
  <input type="password" name="password" placeholder="Unesite lozinku" [(ngModel)]="password"/>
</div>
<div>
  <input type="submit" value="Prijavite se" (click)="login($event)"/>
</div>-->

<div class="example-container">
  <mat-form-field>
    <input type="text" matInput placeholder="Korisnicko ime" id="user123" name="username" >
  </mat-form-field>

  <mat-form-field>
    <input type="password" matInput placeholder="Lozinka" id="pass123" name="password" >
  </mat-form-field>

  <button mat-button (click)="login($event)">Prijavite se</button>

</div>


