
.sidenav-content {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
      }

.signout-content {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
}